<header class="sticky inset-x-0 top-0 z-20">
  <div class="max-w-7xl mx-auto flex justify-between py-16">
    <%= link_to 'Help', help_path, class: class_names("btn btn-link text-2xl", "bg-gray-100 text-gray-900": is_help_path) %>
    <% if user_signed_in? %>
      <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-link text-2xl" %>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class: 'btn btn-link text-2xl' %>
    <% end %>
  </div>
</header>